.dashboard-box-for-yourListing {
    background-color: wheat;
    height: 600px;
    width: 800px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid goldenrod;
    border-radius: 25px;
    gap: 30px;
}

.yourListingButton {
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 200px;
    background-color: gold;
    border: 2px solid beige;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;

}

.yourListingButton:hover {
    background-color: beige;
    color: black;
    font-size: 20px;

}